<!DOCTYPE html>
<html>
    <head>
        <title>STAR WARS COUNTDOWN</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Star Wars, Star Wars Countdown, Star Wars Celebration">
        <meta name="description" content="Countdown to Star Wars!">
        <meta name="author" content="NearSingularity">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div id="space"></div>
        <h1 class="title">STAR WARS</h1>
        <h2 class="sub-title">CELEBRATION</h2>
        <div id="countdown"></div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
        
        <script src="js/index.js"></script>
    </body>
</html>